*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: #f0f0f0;
    display: flex;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

header {
    background-color: #f7f2fa;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0 0 7.5rem;
    border-bottom: 1px solid #f8f8f8;
    height: 5rem;
}

header .logo_radar img{
    height: 3rem;
}

.akun {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-right: 3rem;
}

aside {
    background-color: #0C25A3;
    color: white;
    width: 20vw;
    height: calc(100vh - 4rem); 
    position: fixed;
    top: 5rem; 
    left: 0;
    overflow-y: auto;
}

.profile {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 1.5rem 0 1rem 1.5rem;
    border-bottom: 1px solid #575757;
}

.username-status {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.username-status .status {
    font-size: 14px;
}

.username-status .indikator {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.username-status img {
    width: 0.5rem;
}

aside nav ul {
    list-style: none;
    padding: 0;
}

aside nav ul li {
    margin: 0;
}

aside nav ul li a {
    color: white;
    display: block;
    padding: 15px;
    text-decoration: none;
}

aside nav ul li a:hover {
    background-color: #575757;
}

main {
    margin-left: 20vw;
    padding: 0;
    flex-grow: 1;
}

section {
    background-color: #6a77c6;
    padding: 0.4rem; 
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-left: 1rem;
    height: 2rem;
}

section img {
    width: 1rem;
    height: 0.75rem;
}

section h2{
    font-size: 16px;
    font-weight: 600;
    color: white;
    
}