body  {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login{
    background-color: #cecded;
    width: 30%;
    padding: 20px;
    border-radius: 5px 0 0 5px;
    text-align: center;
    height: 43.5%;
}

.login h2{
    margin-bottom: 20px;
    text-align: center;
}

.login label{
    display: block;
    margin-bottom: 5px;
}

.login input{
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 8px; 
}

.login button{
    width: 50%;
    padding: 10px;
    background-color:#0C25A3; 
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.login button:hover{
    background-color: #0C25A3;
}

.image_login{
    background-color: #0C25A3;
    padding: 50px;
    height: 34%;
    border-radius: 0 5px 5px 0 ; 
}

.image_login img{
    width: 80%;
    border-radius: 10px;
    justify-items: center;
}